.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

* {
  outline-width: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: prstartk;
  src: url("./Assets/font/prstartk.ttf");
}

/** removed top white space in web **/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

  /** Count Down Line **/
.countdown {
  position: relative;
  top: 50px;
}

#countdownText {
  font-family: prstartk;
  color: #F3DFDF;
  font-size: 100%;
}


  /** 
  These are the content related css files
  **/

  
.header {
  position: relative;
  padding: 10%;
}

#CWRUTitle {
  width: 100%;
  height: auto;
}

#subTitle {
  width: 45%;
  height: auto;
  float: right;

}

/** Text In .header **/
#CWRU { 
  font-family: prstartk;
  color: #218632;
  font-size: 25px;
}

#date {
  font-family: prstartk;
  color: #1B81AE;
  font-size: 25px;
}

#comingSoon {
  font-family: prstartk;
  color: #D5DDE2;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .header img {
    height: 40px;
  }
}
/**/
.myLogo {
  position: relative;
  width: 15%;
  height: auto;
}

.spartonLogo img {
  position: relative;
  padding: 20%;
  left: 250%;
  width:100%;
  height: 100%;
}

